.hero {
  padding-top: 50px;
}

.reservation {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.tour {
  margin-top: 70px;
  padding: 70px 0;

  &__tilte {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    width: 506px;
  }

  &__desc {
    margin-top: 16px;
  }
}

.reason {
  margin-top: 2px;
  padding: 70px 0;

  &__wrap {
    padding: 0 51px;
  }

  &__media {
    border-radius: 64px;
  }

  &__img {
    display: block;
    width: 436px;
    object-fit: cover;
  }

  &__heading {
    margin-top: 19px;
  }

  &__desc {
    width: 493px;
    margin-top: 16px;
    margin-bottom: 20px;
  }
}

.reason__group {
  display: flex;
  align-items: center;
  margin-top: 40px;

  &-icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 54px;
    border-radius: 12px;
    flex-shrink: 0;
  }

  &-content {
    margin-left: 30px;
    width: 319px;
  }

  &-title {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 162.5%;
  }

  &-desc {
    margin-top: 8px;
    color: rgba(103, 106, 108, 0.9);
    font-family: Inter;
    font-size: 1.4rem;
    line-height: 142.857%;
  }
}
