.hero {
  padding-top: 50px;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__content {
    width: 453px;
    max-width: 39%;
  }

  &__heading {
    color: var(--Typography-1, #2d3134);
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 112.903%;
  }

  &__desc {
    width: 352px;
    margin-top: 17px;
  }

  &__media {
    width: 61%;
    padding-left: 88px;
    position: relative;
  }

  &__media::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 30px;
    width: 462px;
    height: 2px;
    background: #1f1a1e;
  }
}

.hero__cta-group {
  margin-top: 51px;
  display: flex;
  align-items: center;
  &-more {
    display: flex;
    align-items: center;
  }

  &-more-img {
    margin-left: 28px;
    width: 64px;
    height: 64px;
    object-fit: none;
  }
  &-link {
    color: #4d4f56;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 162.5%;
  }
}

.media__card {
  position: absolute;
  top: 274px;
  left: -92px;
  z-index: 99;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 163px;
  height: 202px;
  padding: 21px 31px 26px 31px;

  flex-shrink: 0;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 50px 100px -25px rgba(0, 0, 0, 0.1);

  &-content {
    color: #0d1e3f;

    text-align: center;
    font-family: Inter;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 100%;

    &--small {
      font-size: 1.8rem;
    }
  }
  &-desc {
    color: #aeb4cf;

    text-align: center;
    font-family: Inter;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 100%;
    margin-top: 8px;

    &--small {
      font-size: 0.6rem;
      margin-top: 2px;
    }
  }
  &-top {
    position: relative;
  }
  &-bottom {
    margin-top: 18px;
  }
  &-group {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.media__img {
  &-wrap {
    position: relative;
    width: 380px;
    height: 509px;
    flex-shrink: 0;
  }

  &-decor,
  &-pic {
    width: 100%;
    object-fit: cover;
    display: block;
  }

  &-decor {
    width: 372px;
    height: 377px;
    position: absolute;
    top: 40px;
    left: -15px;
  }

  &-pic {
    position: relative;
  }
}

.media__countdown {
  position: absolute;
  right: 0;
  top: 85px;
  width: 200px;
}

.countdown-card {
  display: flex;
  align-items: center;
  margin-top: 48px;

  &__img-wrap {
    width: 58px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    color: #0a192d;

    font-family: Inter;
    font-size: 3rem;
    font-weight: 800;
    line-height: 133.333%;
  }

  &__desc {
    color: #777f8b;

    font-family: Inter;
    font-size: 1.4rem;
    line-height: 142.857%;
  }
}
