.tour-card {
  position: relative;
  border-radius: 12px;
  width: 364px;
  height: 500px;

  &__img-wrap {
    width: 364px;
    height: 392px;
  }

  &__img {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
    display: block;
  }

  &__content {
    padding: 20px 28px;
    position: absolute;
    top: 322px;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    box-shadow: 0px 17px 55px 0px rgba(96, 100, 100, 0.05);
  }

  &__price {
    color: var(--primary-color);
    font-family: Inter;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 133.333%;
  }

  &__name {
    color: #1f1d63;
    margin: 6px 0 20px 0;
    font-size: 2rem;
    font-weight: 600;
    line-height: 150%;
  }

  &__time {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
}

.tour-card__group {
  display: flex;
  align-items: center;
  margin-right: 28px;

  &-detail {
    color: #676a6c;
    margin-left: 8px;
    font-family: Inter;
    font-size: 1.4rem;
    line-height: 142.857%;
  }
}
