<div class="container">
  <nav class="nav">
      <img src="./assets/img/logo.png" alt="Safe-tour-logo" class="logo" />
      <ul class="nav__list">
        <li class="nav__item">
          <a href="/" class="nav__link nav__link--active">Home</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">About</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Destinations</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Blog</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Pages</a>
        </li>
      </ul>
      <a href="#" class="btn primary-btn cta-btn">Contact us</a>
    </nav>
  </div>
</div>
